h1 {
  font-family: "Secular One", sans-serif;
  font-size: 64px;
  font-weight: 600;
  color: white;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 38px;
  font-weight: 500;
  color: white;
}
.other {
  font-family: "Josefin Sans", sans-serif;
  color: black;
  font-size: 30px;
  font-weight: 500;
  padding: 20px 60px;
}

p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  color: white;
}
.blackText {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: black;
  padding: 20px 60px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 50px;
  }
  .description,
  .btn-my-brand {
    padding: 0;
    text-align: center;
  }
  .hero {
    padding: 80px 20px;
  }
}
.hero {
  background: url(/images/pine-forest.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  min-height: 100%;
  text-align: center;
  padding: 160px 20px;
}
/*html {
  background: url(/images/pine-forest.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  min-height: 100%;
}*/
.Myphoto {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.btn-branding {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  color: white;
  background-color: #647e4b;
  line-height: 27px;
  padding: 12px 20px;
}
.btn-my-brand {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: #647e4b;
  border: 1px solid #647e4b;
  border-radius: 4px;
  line-height: 27px;
  padding: 12px 20px;
  margin-left: 60px;
}
/*if I remove margin-left: 60px then I don't have a centered link on big screen. 
If I keep it, then I can't have centered link on a small screen.
What to do to make the link .btn-my-brand  centered on all screens? */
